In [2]:
import pandas as pd # data processing

In [3]:
#download the data set of anime 
anime_df = pd.read_csv('anime.csv')

In [4]:
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
# take two columns which type = TV
anime_name_TV = anime_df[['name', 'type']] [anime_df['type'] == 'TV']

In [6]:
#drop duplicate rows
anime_name_TV = anime_name_TV.drop_duplicates(subset="name")

In [7]:
anime_name_TV.head()

                                                name type
1                   Fullmetal Alchemist: Brotherhood   TV
2                                           Gintama째   TV
3                                        Steins;Gate   TV
4                                      Gintama&#039;   TV
5  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...   TV

In [22]:
sample = anime_name_TV.name.sample()

print(f"We recommend (TV): {sample}")

We recommend: 10985    Fukumenkei Noise
Name: name, dtype: object